.header {
    background-color: #9fa9a3;
    padding: 0.5em 0.5em 0.5em;
}

.editable-text {
    color: #3b3a30;
    cursor: pointer;
}

h1 {
    color: #e3e0cc;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: #e3e0cc;
    text-align: center;
}
